.menu-item {
	padding: 10px;
	display:block;
}
.navheader-blog{
	cursor: pointer;
	position:fixed;
	left: 97%;
	width:20%;
	height: 100vh;
	width: 20%;
	background: $dgrey;
	.posts_menu{	
		margin-top: 25vh;
		overflow: hidden;
		.post_menu{
			a{
				color:white;
				text-decoration: none;
				&:hover{
					z-index:1000;
					text-decoration: underline;
					color:$dgrey;
				}
		}
			display:none;
			padding-top:10px;
			padding-left:20%;
			.posttitle_menu{
				font-size:15px;
				color:white;
			}
		}
	}
	.menu-blog-container {
		position: fixed;
		ul{
			-webkit-margin-before: 0em;
		    -webkit-margin-after: 0em;
		    -webkit-margin-start: 0px;
		    -webkit-margin-end: 0px;
		    -webkit-padding-start: 0px;
			margin: 0 auto;
			.menu-item-77 {
				position:relative;
				color: white;
				margin-bottom: 30px;
				text-align: center;
				&:hover{
					cursor:pointer;
					color:white;
				}
			}
		li{
			color:white;
			clear:both;
			width:100%;
			//text-align:center;
			padding-left: 10%;
			&::before{
				padding-right: 50px;
			}
			a{
				clear:both;
				padding: 5px 10%;
				//border-bottom: 1px solid;
				//border-color:rgba(white,0.15);
				font-size: 15px;
				font-family: slabo;
				color: white;
				transition: color 0.5s ease;
				&:hover{
					cursor:default;
					color:$cgrey;
				}
				&:before{
					padding: 10px 10px;
				}
			}
		}
		}
	}
}
.fixed {
	position: fixed;
	width: 33.333%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 1000px;
	background-position: 50% 20%;
}
.title {
	text-align: center;
	font-family: stylish;
	letter-spacing: 4px;
	padding-top: 80%;
	font-size: 30px;
	color: $morado;
}
.title_post {
	text-align: center;
	font-family: stylish;
	letter-spacing: 4px;
	padding: 5%;
	font-size: 30px;
	color: $morado;
}
.subtitle {
	text-align: center;
	font-size: 20px;
	color:$moscuro;
}
.subtitle_post {
	text-align: center;
	padding:20px;
	width:85%;
	font-size: 13px;
	color:$moscuro;
		p{
			border-bottom: 1px solid $colored_line;
			padding-bottom: 30px;
		}
}
.posts{
	float: left;
	position: relative;
	left: 33.333%;
	width: 53.667%;
	padding: 10px 5%;
	.post{
		font-family: "helvetica Neue";
		padding: 2% 5%;
		border-bottom: 1px solid;
		border-color:rgba(black,0.15);
		}
	a{
		text-decoration: none;	
	}
	.pcontent{
		padding: 1% 5%;
		text-align: left;
		letter-spacing: 1px;
	}
}
.posttitle {
	text-align: left;
	text-transform: capitalize;
	font-family: "slabo", sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: black;
	padding: 1% 5%;
	transition: color 0.5s ease;
	&:hover {
		color: $cgrey;
	}
}
.posttitle_blog {
	text-align: left;
	text-transform: capitalize;
	font-family: "slabo", sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: black;
	padding: 1% 5%;
}
.metadata {
	color: $cgrey;
	padding: 1% 5%;
}
.share{
	text-align: center;
	color: $cgrey;
	padding: 2% 5%;
	li{
		padding: 5%;
	}
}
.metadata_fixed {
	color: white;
	text-align: center;
}