html{
	margin: 0 !important;
}
body{
	font-family: slabo;
	margin:0px;
}
.logo{
	position: relative;
	top:15px;
	left:25px;
	float:left;
	font-size: 150px;
	color: $morado;
	a{
		text-decoration: none;
	}
	&:hover {
		opacity:.5;
	}
}

.logo_footer{
	float:left;
	color:blue;
	font-size:50px;
	width:100%;
	a{
		text-decoration: none;
		margin-left:50%;
	}
}
.navheader {
	position: relative;
	top:15px;
	right:15px;
	float:right;
}
.menu-item {
	padding: 10px;
	display: inline;
	a{
		transition: color 0.5s ease;
		text-decoration: none;
		color: white;
		&:hover{
			color:blue;
		}
	}
}
input{
	border: 3px solid $moscuro;
	border-radius: 3px;
	transition: 0.25s;
	//cursor: pointer;
	&[type="text"]{
		&:focus{
			border: 3px solid $morado;
		}
	}
	&[type="submit"]{
		cursor:pointer;
	}
}
textarea{
	border: 3px solid $moscuro;
	border-radius: 3px;
	transition: 0.25s;
	//cursor: pointer;
}
.wpcf7-submit{
	background-color: rgba($contact_background,0.8);
	width:100px;
	font-size: 20px;
}
.textgen {
	clear:both;
	position: relative;
	width:100%;
	margin:0 auto;
	top:35vh;
	align-content: center;
	text-align: center;   
}
.text1{
	color:white;
	font-size: 18px;
	letter-spacing: 2px;
	align-content: center;
}
.special{
	font-family: stylish;
	font-size: 150px;
	color: $morado;
	margin-top: 10px;
	letter-spacing: normal;
	font-weight: normal;
	align-content: center
}
.titles{
	padding-top: 25px;
	padding-bottom: 50px;
	color:$morado;
	font-family: stylish;
	font-size: 2em;
	letter-spacing: 2px;
	text-align: center;
}
.images{
	clear:both;
	.image{
		width:25%;
		display:inline;
		padding: 20px 15px;
		img{
	  		transition:all 0.3s ease-in-out;
			height:200px;
			&:hover{
				transform:rotate(15deg) scale(1.3);
			}
		}	
	}
}
.services{
	clear:both;
	.image{
		font-size: 100px;
		float:left;
		position: relative;
		width:33.33333%;
		display: block;
		box-sizing: border-box;
		text-align: center;
		padding: 20px 15px;
  		transition:all .5s ease-in-out;
	}
	.image:hover{
  		transform:translate(0px,-25px);
	}
	img{
		width:120px;
		align-self: center;
	}
}
.contactame{	
	display: block;
	background-repeat: no-repeat;
    width:100%;
    height: 100vh;
    background-size:cover;
    overflow:hidden;
}
.forms{
	float: center;
	text-align: center;
}
.footerclass{
	overflow: hidden;
	background-color: black;
}
.servicetext{
	text-align: center;
	font-size: 25px;
	padding: 20px 15px;
}